.c-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    @include tab {
        flex-direction: row;
    }

    &__img {  
        @include tab {
            width: 50%;
        }
        > img {
            height: 100%;
            object-fit: cover;
        }
    }


    &__content {
        padding: 20px;
        background-color: $color-brown-dark;
        color: $color-white-font;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include tab {
            width: 50%;
            // padding: 30px 35px;
            padding: 5% 3%;
        }
        @include pc {
            // padding: 55px 65px;
        }
        &__title {
            font-size: 1.25rem;
            padding-bottom: 20px;
            @include pc {
                font-size: 2.25rem;
            }
        }
        &__subtitle {
            font-size: 1rem;
            padding-bottom: 10px;
            @include pc {
                font-size: 1.5rem;
            }
        }
        > p {
            color: $color-white-font;
        }
    }
}