// Various lines
.c-pseudo-element {
   &--short::after {
      content:"";
      display:block;
      width: 2rem;
      height: 4px;
      background-color: $color-white-font;
      margin-top: 1.2rem;
      @include tab {
         width: 3rem;
      }
      @include pc {
         width: 4rem;
      }
   }   

   &--long::after {
      @extend .c-pseudo-element--short::after;
      width: 5.5rem;
      height: 2px;
      margin: 1.5rem 0;
      @include pc {
         margin: 2rem 0;
      }
   }
   &--vertical::after{
      @extend .c-pseudo-element--short::after;
      width: 2px;
      height: 20px;
      margin: 5px 16px 0 16px;
   }
}

// takeout下の線を解除
.p-service__takeout .c-pseudo-element--short::after {
      display: none;
      @include tab {
         display: block;
      }
} 