.p-footer {
    background-color: rgba( 157, 134, 112, 0.2);
    background-image: url(../images/index/p-footer_layer01.png);
    background-blend-mode: multiply;
    background-size: cover;
    color: $color-white-font;
    text-align: center;

    &__about {
        & a {
            padding-right: 20px;
            color: $color-white-font;
            font-size: 20px;
        }
        & .menu {
            display: flex;
            justify-content: center;
            padding-top: 40px;
        }
    }
    
    &__copyright {
        color: $color-white-font;
        padding: 30px;
    }
}