.p-gnav {
    height: 100vh;
    width: 90%;
    background-color: $color-beige;
    padding: 200px 10px 0 45px;
    position: fixed;
	top: 0;
    left: 100%;
    transition: all 300ms 0s ease;
    overflow-y: auto;
    @include tab {
        width: 45%;
    }
    @include pc {
        height: 100%;
        width: 100%;
        position: static;
    }

    &__contents {
        &__subject {
            display: none;
            position: absolute;
            top: 80px;
            color: $color-gray;
            font-size: 2.125rem;
            @include pc {
                display: block;
            }
        }
        &__wrapper {
            > .menu {
                font-weight: bold;
                font-size: 24px;
                font-family: 'mplus-1m';
                > li > a {
                    display: block;
                    padding-bottom: 40px;
                }
            }
            .sub-menu {
                font-weight: normal;
                font-size: 20px;
                &:last-child {
                    padding-bottom: 40px;
                }
            > li {
                padding: 0 0 20px 20px;
                }
            }
        }
    }
}
.l-container.is-open .p-gnav {
    left: 10%;
    @include tab {
        left: 55%;
    }
}